.container{
    background-color:white ;
    width: 80;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}


.add-group{
    background-color: #9fcfd3ff;
    float:right;
}
.Save{
    background-color: #feed9e;
}
.upload{
    background-color: #f18c8a;
}