body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: plum;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input[type="text"], .login-form input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.image-container img {
    width: 100%;
    height: auto;
}