/* Navigation */

.header-left a {
    color: #fff;
    text-decoration: none;
    margin-left: 0px;
}

.header-right a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
}

.header-right a:hover {
    color: #1500ff;
    /* Change to your preferred hover color */
    text-decoration: underline;
    /* Add an underline on hover */
}


/* Header */

header {
    background-color: lightseagreen;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 70px;
}

body {
    background-color: #D3D3D3;
}

.logo {
    height: 30px;
    width: 30px;
    padding: 0px;
    margin: 0%;
}

.container {
    display: flex;
    column-gap: normal;
    justify-content: center;
    height: 100vh;
}

.register {
    height: 500px;
    width: 500px;
    background-color: white;
    text-align: center;
}

.boxImg {
    height: 500px;
    width: 500px;
    background-color: beige;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}


/*design for the form labels*/

input {
    width: 80%;
    padding: 15px;
    border: 1px solid #c6bee7;
    border-radius: 50px;
    margin: 10px;
}

.registerButton {
    padding: 10px 75px;
    background-color: #c6bee7;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.registerButton {
    background-color: #F18382;
}

p {
    margin-top: 20px;
    font-style: italic;
}

a {
    color: #F18382;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Footer */

footer {
    background-color: lightseagreen;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}