<!--views/partials/header.ejs-->

<div class="header-left">
    <a href="index.html"><img class="logo" src="Images/logo-horizontal.png"></a>
    <!-- <h1 style="display: inline; align-items: center; font-size: 20px;">Alturo</h1> -->
</div>

<nav class="header-right">
    <a href="registration">Refer Support</a>
    <a href="registration">Become An Organization</a>
    <a href="login" >Login</a>
    <a href="contactUs">Contact Us</a>
    
    <!-- Add more links as needed -->
</nav>
