body {
    margin: 0;
    padding: 20;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-section,
.right-section {
    width: 45%;  
    display: inline-block;
    padding: 20px;
}

.left-section {
    text-align: left;
    float: left;
}

.right-section {
    float: right;
}

h2 {
    margin-top: 0;
    color: #333;
}

.form-group {
    margin: 20px 0;
    text-align: left;
}

label {
    font-weight: bold;
    color: #555;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"] {
    padding: 10px 0;
    height: auto;
}

/* Add CSS to create a margin for the top section */






















/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 1200px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.left-section,
.right-section {
    flex: 1;
    padding: 10px;
}

.space {
    flex: 0.05; /* Adjust the space width as needed 
}

.left-section {
    text-align: left;
}

h2 {
    margin-top: 0;
    color: #333;
}

.form-group {
    margin: 20px 0;
    text-align: left;
}

label {
    font-weight: bold;
    color: #555;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"] {
    padding: 10px 0;
    height: auto;
} */
